@use "global";
@use "player";
@use "sidebar";
@use "header";
@use "main-content";
@use "components";

body:not(.ignore-now-playing), body.ignore-now-playing:not(.mq-playing) {
    @include global.global-styles;
    @include player.player-styles;
    @include sidebar.sidebar-styles;
    @include header.header-styles;
    @include main-content.main-content-styles;
    @include components.components-styles;
}
